nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='#') My App
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='/productos') Productos
      li.nav-item
        a.nav-link(href='/clientes') Clientes
      li.nav-item
        a.nav-link(href='/compras') Compras
      li.nav-item
        a.nav-link(href='/proveedores') Proveedores
      li.nav-item
        a.nav-link(href='/ventas') Ventas
      li.nav-item
        a.nav-link(href='/pagos') Pagos
      li.nav-item
        a.nav-link(href='/reportes') Reportes
